.box{
  width: 400px;
  height: 400px;
  border: 2px solid black;
  background-color: crimson;
}
.fa-icons{
  font-size: 1em;
  /* display: inline; */
  /* line-height: -2; */
  vertical-align: baseline;
}
.navbar-expand-lg{
  margin-bottom: 0;
}
.navbar-brand{
  height: 0;
  line-height: 0;
}